@import "tailwindcss";

:root {
  font-family: "Nunito Sans", system-ui, sans-serif;
  color: #172033;
  background: #f7f8fd;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}
